{% extends "base.html" %}
{% block title %} - User {{ email }} has no connected devices{% endblock %}
{% block content %}
<h1>User {{ email }} has no connected devices</h1>

<div class="row">
    <form method="post" action="invite">
    <input type="hidden" name="email" value="{{ email }}">

        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" name="name" id="name" placeholder="Name" class="form-control" required>
      <span class="input-group-btn">
        <input type="submit" class="btn btn-default" role="button" value="Invite to join">
      </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->

    </form>
</div><!-- /.row -->
{% endblock %}