{% extends "base.html" %}
{% block title %} - User {{ email }} has no connected devices{% endblock %}
{% block content %}
<h2>User {{ email }} <br>
    <small>has no connected devices</small>
</h2>

<div class="row" style="display:none">
    <form method="post" action="invite">
        <input type="hidden" name="email" value="{{ email }}">

        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" name="name" id="name" placeholder="Name" class="form-control" required>
      <span class="input-group-btn">
        <input type="submit" class="btn btn-default" role="button" value="Invite to join">
      </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->

    </form>
</div><!-- /.row -->


<div class="col-sm-4">
    <h4>Send Message</h4>

    <form method="post" action="/api/v1/send">
        <input type="hidden" name="email" value="{{ email }}" class="form-control">

        <div class="form-group">
            <input type="text" name="text" id="text" placeholder="message" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="url" name="canonicalUrl" id="canonicalUrl" placeholder="url" class="form-control">
        </div>

        <div class="form-group">
            <label class="control-label" for="inputDate">
                <span class="glyphicon glyphicon-time"></span>
                when</label>

            <div class='input-group date' id='datetimepicker'>
                <input type='text' class="form-control" id="inputDate" placeholder="Now"/>
                <input type="hidden" name="datetime" id='datetimefield'>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>

        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-send"></span>
            Send
        </button>
    </form>
</div>
</div>

{% endblock %}

{% block js_footer_ext %}
<script src="//maps.google.com/maps/api/js?sensor=false"></script>
<script src="{{ url_for('static', filename='js/jquery.addressPicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-typeahead.js') }}"></script>


<script type="text/javascript">
  $(function() {
    $('#datetimepicker').datetimepicker({
      startDate: new Date(),
      language: 'en'
    });

    $("#datetimepicker").on("change.dp",function (e) {
		$("#datetimefield").val(e.date.toISOString());
    });

  $('#inputAddress').addressPicker({
		  boundElements: {
		    '#lat': 'lat',
		    '#lng': 'lng',
		  }
		});
    });





</script>

<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }}"></script>

{% endblock %}