<!DOCTYPE html>
<html>
<head>
    <title>User {{ email }}</title>
</head>
<body>
<a href="/logout">Log out</a>

<h1>User {{ email }}</h1>

    <table>
    {% for device in devices %}
        <tr>
            <td>{{ device.type }}</td>
            <td>{{ device.manufacturer }}</td>
            <td>{{ device.model }}</td>
            <td><a href="./remove?device={{ device.deviceId }}">remove</a></td>
        </tr>
        {% else %}
        <tr>
            <td>no devices found</td>
        </tr>
        {% endfor %}
    </table>
    total : {{ devices|length }}

    <h1>Send Message</h1>

    <form method="post" action="/send">
        <input type="hidden" name="email" value="{{ email }}">
        <label for="title">title:</label>
        <input type="text" name="title" id="title">

        <label for="text">message:</label>
        <input type="text" name="text" id="text">
        <br>
        <label for="canonicalUrl">url:</label>
        <input type="url" name="canonicalUrl" id="canonicalUrl">
        <br>
        <input type="submit" value="Send">
    </form>
</body>
</html>